*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    margin:3% auto;
    border: 0pc solid black;
    box-shadow: 4px 4px 4px gray;
    width: 550px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
}
h1{
    margin-left: 20px;
    margin-bottom: 20px;
}
.form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 20px;
}
.wd{
    width: 238.33px;
}
.wta{
    width: 510px;
}
.ht{
    height: 25px;
}
button{
    background-color: red;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-width: 0px;
}
button:hover{
    cursor: pointer;
}
.input-container{
    margin-bottom: 20px;
}
@media (max-width: 460px) {
    .container{
        width: 90%;
        height: 90%;
     }
    .wta{
        width: 78vw;
    }
    .wd{
        width: 78vw;
    }
    .ht{
        height: 25px;
    }
    .hta{
        height: 60px;
    }

}